@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

body {
    display: flex;
    flex-wrap: wrap;
}

.emptyCard{
    color: black;
    border: 15px solid black;
    text-align: center;
    font-family: 'Germania One', cursive;
    font-size: 4rem;
    cursor: grab;
    margin:2%;
    padding: 50px 10px 0px 10px;
    height: 400px;
    width: 225px;
}

.card {
    display: block;
}